{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}



{% block body %}
    <a href="{{ path("episode_new") }}">{{ 'Add'|trans }}</a>
    <h1>{{ 'episode.list' |trans }}</h1>

    <table class="table">
        <thead class = "seasontext">
            <tr>
                <th>Id</th>
                <th>{{ 'episode.program'|trans }}</th>
                <th>{{ 'episode.title'|trans }}</th>
                <th>{{ 'episode.number'|trans }}</th>
                <th>Synopsis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class = "seasontext">
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.season.program.title }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">{{ 'Detail'|trans }}</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">{{ 'Add'|trans }}</a>
{% endblock %}
