{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>


    <table class="table">
        <tbody class = "seasontext">
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">back to list</a>

    <a href="edit">edit</a>

    {{ include('episode/_delete_form.html.twig') }}

    <h3> Commentaires : </h3>
    <ul>
        {% for comment in episode.comments %}
            <li>De : {{ comment.author.email }} <br>
                Note : {{ comment.rate }} <br>
                Commentaire : {{ comment.comment }}
            </li>
        {% endfor %}
    </ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h3>Ajouter un commentaire</h3>
            {{ include('episode/_form.html.twig') }}
    {% endif %}

{% endblock %}
