{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"><a href="../../">{{ program.title }}</a> (season {{  season.number }} )</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>


                <div class="media-body">
                    <h1 class="mt-0"> Episode {{ episode.number }} : {{ episode.title }}</h1>

                    <p>Synopsis: {{ episode.synopsis }}</p>

                    {% for comment in episode.comments %}
                        <li>De : {{ comment.author.email }} <br>
                            Note : {{ comment.rate }} <br>
                            Commentaire : {{ comment.comment }}
                        </li>
                    {% endfor %}
                    </ul>
                    {% if app.user %}
                        <h3>Ajouter un commentaire</h3>
                        {{ include('episode/_form.html.twig') }}
                    {% endif %}


                </div>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
