{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

    <a href="{{ path("program_new") }}">{{ 'Add'|trans }}</a>

    <h1>{{ 'program.list' |trans }}</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button>{{ 'Search'|trans }}</button>

    {{ form_end(form) }}
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - {{'program.category'|trans}} : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'Detail'|trans }}</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">{{ 'Edit'|trans }}</a>
            {%endif%}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'Back Home'|trans }}
    </a>
{% endblock %}

