{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"><a href="../../">{{ program.title }}</a> (season {{  season.number }} )</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            {% for episode in episodes %}

                <div class="media-body">
                    <h1 class="mt-0"> Episode {{ episode.number }} : {{ episode.title }}</h1>

                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">voir le détail</a>
                    <p>Synopsis: {{ episode.synopsis }}</p>
                </div>

            {% else %}
                Aucune information sur la saison
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
