{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}


    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            {% for season in seasons %}

                    <div class="media-body">
                        <h1 class="mt-0">SAISON {{ season.number }}</h1>
                        <p>{{ season.year }}</p>
                        <p>{{ season.description }}</p>
                     <a href="seasons/{{ season.id }}">Voir le détail</a>
                    </div>

            {% else %}
                Aucune information sur la saison
            {% endfor %}
        </div>
    </div>

    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }} </li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

    <button id="watchlist">
        <i id="watchlisticon" data-url="{{ path('program_watchlist',{'id':program.id}) }}" class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist"></i>

    </button>

{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('watchlist') }}

        {% endblock %}
