
<div class="fixed-top">
    <div class>
        <nav class="navigation navbar navbar-expand-md navbar-dark spacenav">
            <button class="navbar-toggler ml-auto text-white" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class=" navbar-toggler-icon "></span>
            </button>
            <a class=" navcompany navbar-brand img d-none d-lg-block">
                            Wild Series
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item"><a class="nav-link text-white h4" href="#">{{ 'Home'|trans }}</a></li>
                             <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('program_index') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Séries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('program_index') }}">{{ 'Programs'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('season_index') }}">{{ 'Seasons'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('episode_index') }}">{{ 'Episods'|trans }}</a>
                        </div>
                    <li class="nav-item"><a class="nav-link text-white h4" href="{{ path('actor_index') }}">{{ 'Actors'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link text-white h4" href="/#">{{ 'Favorits'|trans }}</a></li>
                   </ul>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <div>
                        {% if app.request.locale == 'fr' %}
                            <a class="dropdown-item text-light" href="{{ path(app.request.get("_route"), app.request.attributes.get('_route_params')|merge({'_locale':'en'})  ) }}">EN</a>
                        {% else %}
                            <a class="dropdown-item text-light" href="{{ path(app.request.get("_route"), app.request.attributes.get('_route_params')|merge({'_locale':'fr'})   ) }}">FR</a>
                        {% endif %}
                    </div>



                   <li class="nav-item"><a class="nav-link text-white" {% if app.user %}
                           <i>
                               {% trans with {'%username%': app.user.email} %}
                                   hello_username
                               {% endtrans %} !
                           </i>
                        <a href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
                           <a href="{{ path('user_profile') }}"> {{ 'account'|trans }}</a>

                    {% else %}
                        <a href="{{ path('app_login') }}"> {{ 'account.sign_in'|trans }}</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
